{% extends 'base/base.html' %}

{% block body %}

        <center>

            <h1>Register</h1>
            
            <br>

            <form action="." method='post'>
                
                {% csrf_token %}
                
                <label>Username : </label> 

                <br>

                    {{form.username}}

                    <br>

                    <label>Email : </label> 

                <br>

                    {{form.email}}

                    <br>

                    <label>Password : </label> 

                <br>

                {{form.password}}

                <br>

                <label>Confirmpassword : </label> 

                <br>

                {{form.conpassword}}

                <br>

                <input class="registerbut" type ='submit' Value = "Register" />

            </form>

            <br>

            <strong>If you are member , please <a href= {% url 'Login' %}>Login </a></strong>

        </center>

{% endblock %}