<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>note</title>
</head>
<body>
    <style>
        .button{
            background-color:rgb(59, 53, 148);
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 17px;
        }
        
        
        </style>
<div class = "forms">
<h2></h2>

<form method="post">
    <table>
        {{ form }}
    </table>
    {% csrf_token %}
<div class="button">
    <button class="button">Button</button>
    </div>
    <br>

    <br>

    <br>

    <a href="{% url 'memo'%}">MEMO</a>
    <a href="{% url 'memo'%}">メモ</a>
    </form>
</form>
</body>
</html>