        {% extends 'base/base.html' %}

            {% block body %}
        
    
        <ul class="Taskbar">
            <li ><a href={% url "home" %}>Home</a></li>
            <li ><a href="#">Worktable</a></li>
            <li ><a href="#">Contact</a></li>
            <li ><a href={% url "Login" %}>Logout</a></li>
            <li class="drop1">
                <a href ="#" class="drop2">Menu</a>
                <div class="drop3">
                    <a href ="#">Profile</a>
                    <a href ="#">Setting</a>
                    <a href='#'>Logout</a>           
                </div>
            </li>
            <div class = "memo">
                <a href = " {% url 'memo' %}">Memo</a>
        </div>
        </ul>
        <br>
        <p>Những cuốn sách hay nên đọc khi còn trẻ được định nghĩa là là những cuốn sách kinh điển nhất mọi thời đại. Sách được viết bởi những tác giả trẻ, những bộ óc văn học vĩ đại nhất, họ có những chủ đề, nhân vật, kinh nghiệm, cảm xúc và quan điểm sống luôn liên quan đến mỗi người chúng ta. Một số trong số họ là nguồn cảm hứng mà từ đó toàn bộ thể loại tiểu thuyết hay đã nảy sinh từ đó.

            Nếu bạn đang còn trẻ giống như tôi, và là một người thích đọc sách, bạn sẽ không thể bỏ qua 20 cuốn sách hay nên đọc ít nhất một lần trong đời dưới đây. Chúng đều là những tác phẩm đã giúp thay đổi cuộc sống và suy nghĩ của hàng triệu độc giả trên khắp thế giới.
            
            Có thể nói rằng đây là những cuốn sách hay nên đọc nhất mọi thời đại mà bút ký của người viết đã vượt qua được giới hạn thể loại cũng như các đối tượng độc giả ban đầu mà họ nhắm đến. Tôi gọi đó là những cuốn sách “Phép màu cuộc sống”.
            
            Nghe thật trừu tương nhưng chúng rất xứng đáng để bạn tìm đọc đấy.
            
            Khi chúng ta mệt mỏi, hãy nhớ đến lời răn dạy của các bậc trí giả. Khi chúng ta rơi vào đường cùng bế tắc, hãy lắng nghe tiếng lòng của người thông minh. Chắc chắn rằng trên con đường đi tới thành công của chúng ta không chỉ có cầu vồng lấp lánh mà có cả gió bão cản lối, nhưng có trí tuệ giúp sức, cuối cùng bạn sẽ vượt qua gió mưa và đến được với ánh sáng mặt trời ấm áp.
            
            Xem thêm: Máy đọc sách tốt nhất hiện nay.
            Những bài học vô cùng quý giá của những người đi trước ấy chắc chắn sẽ giúp được bạn tìm ra những cách sống, kĩ năng sống tốt hơn trong cuộc sống đầy màu sắc này.
            
            Mục lục  ẩn <br>
            <ol>
            <li>1 Những cuốn sách hay nên đọc trong đời (2021)</li>
                <li>1.1 1. Đắc Nhân Tâm – Dale Carnegie</li>
                    <li>1.2 2. Nhà giả kim – Paulo Coelho</li>
                        <li>2 3. Tội Ác Và Hình Phạt – Fyodor Dostoevsky</li>
                            <li>2.1 4. Mỗi lần vấp ngã là một lần Trưởng Thành</li>
                                <li>2.2 5. Tuổi Trẻ Đáng Giá Bao Nhiêu? Rosie Nguyễn</li>
                                    <li>2.3 6. Đời thay đổi khi chúng ta thay đổi – Andrew Matthews</li>
                                        <li>2.4 7. Dạy Con Làm Giàu – Robert Kiyosaki</li>
                                            <li>2.5 8. Những Tấm Lòng Cao Cả – Edmondo De Amicis</li>
                                                <li>2.6 9. Nhà Lãnh Đạo không Chức Danh – Robin Sharma</li>
                                                    <li>2.7 10. Cho tôi xin 1 vé đi tuổi thơ – Nguyễn Nhật Ánh</li>
                                                        <li>2.8 11. Harry Potter – J. K. Rowling</li>
                                                            <li>2.9 12. Cà Phê Cùng Tony</li>
                                                                <li>2.10 13. Người bán hàng vĩ đại nhất thế giới – Og Mandino</li>
                                                                    <li>2.11 14. Trump – Đừng Bao Giờ Bỏ Cuộc</li>
                                                                        <li>2.12 15. Đừng Bao Giờ Đi Ăn Một Mình – Keith Ferrazzi</li>
                                                                            <li>2.13 16. Bắt Trẻ Đồng Xanh – J.D.Salinger</li>
                                                                                <li> 2.14 17. Ông Già Và Biển Cả – Hemingway</li>
                                                                                    <li>2.15 18. Tỷ Phú Bán Giày – Tony Hsieh</li>
                                                                                        <li>2.16 19. Đọc Vị Bất Kỳ Ai – David J.Lieberman</li>
                                                                                            <li>2.17 20. Bố già – Mario Puzo</li>
                                                                                                <li>2.18 21. Mặc Kệ Thiên Hạ, Sống Như Người Nhật – Mari Tamagawa</li>
                                                                                                    <li>2.19 22. Cuốn Theo Chiều Gió (Gone With The Wind)</li>
            </ol>
            3 Tóm tắt sách hay
            4 Cách đọc thêm nhiều sách
            Với những cuốn sách hay về kỹ năng sống, hạt giống tâm hồn, súp gà cho tâm hồn, sách self-help, phát triển bản thân, dạy con làm giàu, kỹ năng thành công, sống hạnh phúc… của iSachHay.net sẽ cung cấp cho độc giả những bài học về kĩ năng sống, nghệ thuật sống được nhiều tác giả và dịch giả nổi tiếng dịch lại hoặc biên soạn từ những câu chuyện có thật trong cuộc sống.
            
            Đó sẽ là những bài học, những kinh nghiệm quý báu sẽ giúp ích bạn rất nhiều trong cuộc sống đầy màu sắc này.
            
            Song song đó, mục Tư vấn sách, Review sách tại iSachHay.net sẽ giới thiệu đến bạn hàng loạt những tựa sách hay về kỹ năng sống, nghệ thuật sống, văn học…với những bài đánh giá khách quan và sâu sắc, được biên tập viên iSachHay.net tuyển chọn kỹ lưỡng.
            
            Bạn nhớ đón đọc nhé!
            
            những cuốn sách hay nên đọc
            Sách luôn là món quà tuyệt vời nhất dành cho mỗi chúng ta, iSachHay gợi ý 20 tựa sách hay nhất mà nhiều người đọc trên toàn thế giới đến bạn.
            
            Những cuốn sách hay nên đọc trong đời (2021)
            1. Đắc Nhân Tâm – Dale Carnegie
            Đắc Nhân Tâm (How to Win Friends and Influence People) được mệnh danh là quyển sách hay nhất, nổi tiếng nhất, bán chạy nhất và nó có tầm ảnh hưởng đi xa nhất mọi thời đại, Đắc Nhân Tâm của soạn giả Dale Carnegie là 1 quyển sách hay nên đọc để bạn biết về nghệ thuật thu phục lòng người và làm tất cả mọi người phải yêu mến mình.
            
            Quyển sách này cũng nêu bật lên các nguyên tắc trong việc đối nhân xử thế rất khôn ngoan bắt đầu từ việc thấu hiểu, thành thật với chính bản thân mình cũng như gợi ý cho người đọc cách biết quan tâm đến những người kế bên để cùng hòa nhập, cùng nhau phát triển khả năng của chính mình và mọi người lên 1 tầm cao mới.
            
            Những người đã đọc sách Đắc Nhân Tâm có thể cũng cảm nhận được một tinh thần xuyên suốt mà tác giả muốn thể hiện trong quyển sách hay này. Đấy chính là chữ “nhẫn”. Nếu bạn có chữ “nhẫn” thì tất cả mọi việc sẽ được thay đổi nhìn nhận theo 1 hướng khác mà nơi đó sẽ khiến cho cuộc sống trở nên là một màu xanh hy vọng mãi mãi.
            
            Đắc Nhân Tâm (How to Win Friends and Influence People)
            Đắc Nhân Tâm là cuốn sách hay nhất mọi thời đại nên có trong kệ sách của bạn.
            
            Mua tại LazadaMua tại Tiki
            
            2. Nhà giả kim – Paulo Coelho
            Nhà giả kim (The Alchemist) của Paulo Coelho là một cuốn sách hay dành cho những người đã đánh mất đi ước mơ hoặc chưa bao giờ có nó. Nếu bạn đang cần tìm những cuốn sách nên đọc để thành công thì Nhà Giả Kim rất xứng đáng. Thành công như thế nào: thành công trong trong suy nghĩ và hành động.
            
            Cuốn sách này bán chạy thứ 2 trên thế giới chỉ sau Kinh Thánh, và được dịch ra với nhiều ngôn ngữ trên thế giới.
            
            Lời văn tuy bình dị, nhẹ nhàng nhưng đậm chất thơ trong đó, thấm đẫm các triết lý huyền bí của Phương Đông nhưng lại là một động lực vững chắc cho những con người đang tìm kiếm một hoài bão trong tâm hồn, yêu thích và những ai đang trên đường đời thực hiện những ước mơ của bản thân.
            
            Trước đây tôi vẫn thường tự hỏi bản thân mình rằng: Tôi tồn tại có ý nghĩa gì trong cuộc đời này? Tôi không thông minh và dĩ nhiên cũng chẳng đẹp trai chút nào. Tôi không biết mình thích điều gì, muốn cái gì. Thậm chí ước mơ của mình là gì, hoài bão ra sao để mà sống hết mình vì nó. Giống như một người “sống trong bao” không lí tưởng không mục đích toàn vẹn, đơn thuần chỉ là tôi tồn tại.
            
            Vì lẽ đó, tôi sẽ sống những ngày không lí tưởng đấy nếu không vô tình đọc được cuốn tiểu thuyết Nhà giả kim của Paulo Ceolho.
            
            Nhà giả kim (The Alchemist)
            “Nhà giả kim” của Paulo Coelho là một cuốn sách hay dành cho những người đã đánh mất đi ước mơ hoặc chưa bao giờ có nó.
            
            Mua tại Tiki
            
            “Nhà giả kim” không hề mang sự gây cấn hồi hộp như truyện kinh dị hay trinh thám, không lãng mạn tình cảm như truyện ngôn tình nhưng sức lan tỏa của nó đã vượt ra khỏi biên giới làm cho lay động biết bao trái tim người đọc. Chỉ là một cuốn sách nhỏ nhưng đã làm thay đổi cuộc đời của người đọc.
            
            Cuốn sách này như là kim chỉ nam cho những ai chưa tìm được phương hướng cho mình nhất là những người trẻ rằng giấc mơ của 1 người chính là định mệnh của người đó, và sự chối bỏ giấc mơ chính là từ bỏ định mệnh.
            
            Bạn có như tôi không? Nếu bạn chưa biết bạn làm gì cho cuộc sống hãy tìm đọc cuốn sách này ngay nhé!</p>













            {% endblock %}