    {% extends "base/base.html"%}

            {% block body %}

        <h1>Login</h1>

            <form action="#" method = 'post'> 
                <center>
                    {% csrf_token %}

                    {{ Login.as_p}}

                <br>

                <input type="Submit">

                

            </form>

            <br>
            
            <strong>If you don't have a Account , please <a href={% url 'register' %}>Register</a></strong>

            </center>

                {% endblock %}
