
body{
    background-color : antiquewhite;
}
.header{
    text-align: center;
    padding:30px 20px;
    background-color: brown;
    border: 2px solid greenyellow;
    color: white;
    position: sticky;
    position: -webkit-sticky;
}
h2{
    text-align: center;
    font-size: large;
}


.drop2{
  position:absolute;
}
.drop3 a{
  display: block;
  text-decoration: none;
  padding: 12px 15px;
}
.drop3 {
  display:none;
  position: absolute;
}
li {
  float: left;
}
.drop1:hover .drop3{
  display: block;
}

ul {
  list-style-type: none;

  overflow: hidden;
  background-color: #333;
}

li a, .drop2 {
  display: inline-block;
  color: white;
  padding: 14px 14px;
  text-decoration: none;
}

li.drop1 {
  display: inline-block;
}
form {
  width: 300px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: goldenrod;
}
.registerbut {
  font-size: 20px;
}
.taskBar a {
  float: 0;
}
.Taskbar li {
  float: left;
}
.Taskbar{
  position: sticky;
  top: 0;
}
.Taskbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.Taskbar a:hover {
  background-color: #111;
}