
body{
    background-color : antiquewhite;
}
.header{
    text-align: center;
    padding:30px 20px;
    border-radius: 35px;
    background-color: brown;
    
    border: 2px solid greenyellow;
    color: white;
    position: sticky;
    position: -webkit-sticky;
}
h2{
    text-align: center;
    font-size: large;
}
/* task bar */
ul {
  margin:0;
  padding:0;
   list-style-type: none;
   border-radius: 14px;
   overflow: hidden;
   background-color:darkslategray;
 }
 li {
  float: left;
}

li a , .drop2 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 17px;
  text-decoration: none;
}
li a:hover , .drop1:hover .drop2{
  background-color:red;
}
li.drop1 {
  display:inline-block;
}
.drop3 {
  display:none;
  position: absolute;
  background-color: sandybrown;
  min-width: 160px;
 
  z-index: 1;
}
.drop3 a{
  color:white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop1:hover .drop3{
  display: block;
}






li a:hover:not(.active) {
  background-color:green;
  color:white;
}

p i:first-child {
  color:red;
}
form {
  width: 1000px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: goldenrod;
}
.registerbut {
  font-size: 20px;
}
.taskBar a {
  float: 0;
}
.cleartest {
  float: left;
  border: 1px  royalblue;
  border-style: dashed;
}
#imgtest{
  clear: right;
}
img {
  opacity:0.2;
}
img:hover {
  opacity:1.0;
}
#hometest {
  width: 200;
  overflow: auto;
  height: 310px;
  color: white;
  background: green;
}

/* Screen size change */

