{% extends "base/base.html"%}
{% block body %}

<input type="checkbox" id="active">
<label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
<div class="wrapper">
  <ul>
<li><a href="#">プロファイル</a></li>
<li><a href="#">ID/パスワード変更</a></li>
<li><a href="#">ログアウト</a></li>
</ul>
</div>

<div class="note">
    <ul>
        <li><a href="#">メモを残す</a></li>
    </ul>
</div>

<div class="main">
    <ul>
        {%  for empty in empty%}
        <li>{{empty}}</li>
        {%endfor%}
    </ul>

</div>


{% endblock %}
